<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mone.server.casemanagerframework.aop.mapper.IpAddressMapper">

    <select id="getByIp" resultType="com.mone.server.casemanagerframework.aop.entity.IpAddressEntity">
        select area, operator
        from case_manager.ip_address
        where INET_ATON(#{ip}) &gt; ip_start_num and INET_ATON(#{ip})  &lt;  ip_end_num
    </select>

</mapper>
