<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mone.server.casemanagerstart.user.mapper.RoleMapper">

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                    create_time,
                    update_time,
                id, code, name, remarks
        </sql>

        <select id="getRoleById" resultType="com.mone.server.casemanagerstart.user.entity.Role">
            select
            <include refid="Base_Column_List"/>
            from cmu_role where id = #{id}
        </select>

        <select id="getRolePageList" parameterType="com.mone.server.casemanagerstart.user.param.CommonPageParam" resultType="com.mone.server.casemanagerstart.user.entity.Role">
            select
            <include refid="Base_Column_List"/>
            from cmu_role
        </select>

</mapper>
