<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mone.server.casemanagerstart.user.mapper.TeamMapper">

    <select id="getTeamInfoById" resultType="com.mone.server.casemanagerstart.user.entity.Team">
        select *
        from cmu_team
        where id = #{id}
    </select>
    <select id="getTeamsByParentId" resultType="com.mone.server.casemanagerstart.user.entity.Team">
        select *
        from cmu_team
        where parent_id = #{parentId}
    </select>

    <!--        <select id="getTeamPageList" parameterType="com.mone.server.casemanagerstart.user.param.TeamPageParam" resultType="com.mone.server.casemanagerstart.user.vo.output.TeamQueryVo">-->
    <!--            select-->
    <!--            *-->
    <!--            from cmu_team-->
    <!--        </select>-->

</mapper>
