<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mone.server.casemanagerstart.user.mapper.UserRoleMapper">

        <select id="getUserRoleByUserId" resultType="com.mone.server.casemanagerstart.user.vo.output.RoleQueryVO">
            select
                distinct r.id, r.name, r.remarks
            from cmu_role r
            where r.id in (
                select ur.role_id
                from cmu_user_role ur
                where ur.user_id = #{userId});
        </select>

        <select id="getUserRolePageList" parameterType="com.mone.server.casemanagerstart.user.param.UserRolePageParam" resultType="com.mone.server.casemanagerstart.user.vo.output.UserRoleQueryVo">
            select
            <include refid="Base_Column_List"/>
            from cmu_user_role
        </select>

</mapper>
