<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mone.server.casemanagerstart.user.mapper.UserRoleMapper">

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                    create_time,
                    update_time,
                id, user_id, role_id, role_name
        </sql>

        <select id="getUserRoleById" resultType="com.mone.server.casemanagerstart.user.vo.output.UserRoleQueryVo">
            select
            <include refid="Base_Column_List"/>
            from cmu_user_role where id = #{id}
        </select>

        <select id="getUserRolePageList" parameterType="com.mone.server.casemanagerstart.user.param.UserRolePageParam" resultType="com.mone.server.casemanagerstart.user.vo.output.UserRoleQueryVo">
            select
            <include refid="Base_Column_List"/>
            from cmu_user_role
        </select>

</mapper>
